<%= render "layouts/search" %>

<% if user_signed_in? %>
    <%= button_to "新規登録", new_lens_path, method: :get, class: :"button is-primary" %>
<% end %>

<div class="flex-box">
    <% @lenses.each do |lens| %>
        <div class="card">
            <div class="card-image">
                <% puts "----------------------------" %>
                <% img_path = "/opt/RailsProjects/LensExplorer/public/images/lens/#{lens.kakakucom_id}.jpg" %>
                    <% puts img_path %>
                <% if File.exist?(img_path) %>
                    <!-- 画像あり -->
                    <% puts "画像あり" %>
                    <%= link_to image_tag("/images/lens/#{lens.kakakucom_id}.jpg", class: "thumb"), lens_path(lens), target: :_blank %>
                <% else %>
                    <!-- 画像なし -->
                    <% puts "画像なし" %>
                    <%= link_to image_tag("/images/lens/noimage.png", class: "thumb"), lens_path(lens), target: :_blank %>
                <% end %>
            </div>
            <div class="card-content">
                <div class="content">
                    <!-- <div><%= link_to lens.name, lens_path(lens) %></div> -->
                    <!-- <div><%= lens.model_number %></div> -->
                    <!-- <div><%= lens.name %></div> -->

                    <!-- truncate() 表示文字を省略　FE 70-200mm F4 Ma...　みたいな感じ -->
                    <div id="lens-name"><%= lens.name.truncate(10) %></div>
                </div>
            </div>
        </div>
    <% end %>
</div>