<% if user_signed_in? %>
    <%= link_to "new", new_lens_path, class: :"button is-primary"%>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: :"button is-primary"%>
<% else %>
    <%= link_to "Login", new_user_session_path, class: :"button is-primary"%>
<% end %>

<!-- タグリスト -->
<div>
    <!--
    <% @tag_list.each do |list| %>
        <label class="tag is-info is-medium"><%= list.name %></label>
    <% end %>
    -->
</div>

<% @lenses.each do |lens| %>
    <div class="card">
        <div class="card-image">
            <%= link_to image_tag("/images/#{lens.model_number}/#{lens.model_number}.jpg", class: "thumb"), lens_path(lens) %>
        </div>
        <div class="card-content">
            <div class="content">
                <div><%= link_to lens.name, lens_path(lens) %></div>
                <div><%= lens.model_number %></div>
            </div>
        </div>
    </div>
<% end %>