<div class="box">
    <div class="search-form">
        <%= search_form_for @q do |f| %>
            <div>
                <%= f.search_field :name_cont, placeholder: 'キーワード', class: :"input" %>
            </div>
            
            <div class="checkbox">
                <%= f.label :stabilization_true, '手振れ補正' %>
                <!--　include_hidden: false　：　チェックを外した時にfalseのみが表示される対策 %> -->
                <%= f.check_box :stabilization_true, include_hidden: false %>
            </div>
            
            <div class="checkbox">
                <%= f.label :support_FF_true, 'フルサイズ対応' %>
                <!--　include_hidden: false　：　チェックを外した時にfalseのみが表示される対策 %> -->
                <%= f.check_box :support_FF_true, include_hidden: false %>
            </div>
            
            <div class="checkbox">
                <%= f.label :support_APSC_true, 'APS-C用' %>
                <!--　include_hidden: false　：　チェックを外した時にfalseのみが表示される対策 %> -->
                <%= f.check_box :support_APSC_true, include_hidden: false %>
            </div>
            
            <div class="checkbox">
                <%= f.label :wide_lens_true, '広角レンズ' %>
                <!--　include_hidden: false　：　チェックを外した時にfalseのみが表示される対策 %> -->
                <%= f.check_box :wide_lens_true, include_hidden: false %>
            </div>
            
            <div class="checkbox">
                <%= f.label :telephoto_lens_true, '望遠レンズ' %>
                <!--　include_hidden: false　：　チェックを外した時にfalseのみが表示される対策 %> -->
                <%= f.check_box :telephoto_lens_true, include_hidden: false %>
            </div>
            
            <div class="checkbox">
                <%= f.label :macro_lens_true, 'マクロレンズ' %>
                <!--　include_hidden: false　：　チェックを外した時にfalseのみが表示される対策 %> -->
                <%= f.check_box :macro_lens_true, include_hidden: false %>
            </div>
            
            <div class="checkbox">
                <%= f.label :high_magnification_lens_true, '高倍率レンズ' %>
                <!--　include_hidden: false　：　チェックを外した時にfalseのみが表示される対策 %> -->
                <%= f.check_box :high_magnification_lens_true, include_hidden: false %>
            </div>
            
            <div class="search-button">
                <%= f.submit "検索", class: :"button is-primary" %>
            </div>
        <% end %>
    </div>
</div>