<!DOCTYPE html>
<html>
  <head>
    <title>LensExplorer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="background">

    <div class="columns">
    ]
      <div class="column">

      </div>
      
      <div class="column is-two-thirds">
        <%= image_tag "/LensExplorer_logo.png" %>
        <%= yield %>
      </div>

      <div class="column">

      </div>

    </div>
  </body>
</html>
