<!DOCTYPE html>
<html>
  <head>
    <title>LensExplorer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="background">

    <div class="columns">
    ]
      <div class="column">

      </div>
      
      <div class="column is-two-thirds">

        <div id="top-logo-img">
          <%= link_to image_tag("/LensExplorer_logo.png", class: "image"), root_path %>
        </div>
        <%= yield %>
        
        <!-- ログイン・ログアウト処理 -->
        <% if user_signed_in? %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: :"button is-primary"%>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: :"button is-primary"%>
        <% end %>
      </div>

      <div class="column">

      </div>

    </div>
  </body>
</html>
